<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>Social Post</title>
</head>
<body>

<div class ="container col-lg-9 col-md-9 col-sm-9 mb-3 mt-2">
<div class="card h-50">
    <!--Profil de la personne qui poste-->
    <div class="card-header">
            <div class="row">
                <div class="col-12">
                    <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="ml-auto mr-4 d-block img-circle img-responsive float-left" height="70" width="70">
                    <h3 class="text-uppercase font-weight-bold">Nicolas Guary</h3>
                    <h6 class="font-weight-light">April 13, 2015 at 8:24 am</h6>
                </div>
            </div>
    </div>
    <!--Corps du post-->
    <div class="card-body">
        <h5 class="card-title">DROELOE - Many Words (Flaws X DROELOE Remix)</h5>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/435865923&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        <p class="card-text mt-2">L'utilisateur peut entrer un commentaire de 300 caractères pour décrire la chanson à la manière d'un Tweet. Il peut ainsi donner son avis !</p>
            <div class="row">
                <div class="col-lg-2 col-sm-3">
                    <a href="#" class="btn btn-primary mt-1 mb-2"> Like <span class="ml-1 badge badge-light">471</span></a>
                </div>
                <div class="col-lg-10 col-sm-9">
                    <div class="input-group">
                    <input class="form-control mt-1" type="text" placeholder="Comment...">
                        <a href="#">
                            <img class="ml-2 text-center img-responsive send input-group-btn" src="send.svg" width="30" height="40">
                        </a>
                </div>
            </div>
            </div>
    </div>
    <!--Section commentaires-->
    <div class="card-footer">
        <div class="card mb-2">
        <div class="row">
            <div class="col-10">
                <h3 class="ml-3 mt-1">A friend
                </h3>
                <p class="ml-3">Excellent song! Thank you for sharing it.</p>
            </div>
        </div>
    </div>
        <div class="card mb-2">
            <div class="row">
                <div class="col-10">
                    <h3 class="ml-3 mt-1">Another friend
                    </h3>
                    <p class="ml-3">Waaaaaaouh!</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>